* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f5768;
}

section {
    position: fixed;
    top: 100px;
    left: 100px;

    padding: 16px;
    height: 600px;
    width: 600px;
    border: 2px solid red;
}

.leaf {
    height: 75px;
    width: 75px;
}

.frog {
    height: 75px;
    width: 75px;
    padding: 12px;
}
