* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    padding: 0;
    background-color: rgb(24, 23, 23);

    gap: 0; /* row-gap & column-gap both */
    flex-wrap: nowrap; /* wrap */
    overflow: scroll;
}

p {
    padding: 8px 16px;

    background-color: rgb(24, 23, 23);
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;

    text-transform: uppercase;
}
